.avatar {
    display: flex;

}

 .micro {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    vertical-align: middle;
    background-color: var(--light-green);
    margin: 1.75rem;
    padding: 0.5rem;
}

 .mini {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    vertical-align: middle;
    background-color: var(--light-green);
    margin: 1.75rem;
    padding: 0.5rem;

}

 .small {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    vertical-align: middle;
    background-color: var(--light-green);
    margin: 1.75rem;
    padding: 0.5rem;

}

