/* Basic styling of the badge details */

.badge {
    margin-top: 0.75em;
}

.badge h2{
    padding-bottom: 1rem;
}
/* badge styling normal */
.Normal-badge {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    border: 1px solid var(--secondary);
    margin-top: .5em;
}

.default-bg {
    text-align: center;
    border: .10px solid var(--secondary);
    font-size: 10px;
    padding: .5rem 1rem;
    color:var(--gray);
    font-weight: bold;
}

.discount-bg {
    text-align: center;
    border-radius: 0px 10px 0 10px;
    border: .10px solid var(--gray-dark);
    font-size: 10px;
    padding: .5em;
    font-weight: bold;
}

.new-bg {
    text-align: center;
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--red);
    font-size: 10px;
    padding: .5em;
    font-weight: bold;
    background-color: var(--main-color);
}

.num-bg {
    text-align: center;
    border-radius: 50%;
    border: 2px solid var(--green);
    font-size: 12px;
    height: 25px;
    width: 25px;
    color: var(--white-900);
    background-color: lightcyan;
}

.success-bg {
    text-align: center;
    border-radius: 10px 10px 0 0;
    border: 2px solid var(--green);
    font-size: 10px;
    padding: .5em;
    font-weight: bold;
}

.coming-bg {
    text-align: center;
    border-radius: 0 0 10px 10px;
    border: 2px solid var(--blue);
    font-size: 12px;
    padding: .5em;
    color: var(--white-900);
}

/* Badge on Icon styling */

.badge-Icon {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    border: 2px solid var(--blue);
    margin-top: .5em;
}

.badge-Icon>div>img {
    height: 50px;
    width: 50px;
    margin: 0;
}

.bell-bg {
    position: relative;

}

.bell-alert {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--green);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
   
}

.email-bg {
    position: relative;

}

.email-alert {
    position: absolute;
    top: 0;
    background-color: var(--red);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    
}

.cart-bg {
    position: relative;

}

.cart-alert {
    position: absolute;
     bottom: 45px;
    left:35px;
    background-color: var(--blue);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;

 
}

.phone-bg {
    position: relative;

}

.phone-alert {
    display: flex;
    justify-content: center;
    position: absolute;
    margin: 20px 5px;
    bottom: 5px;
    right: 1px;
    background-color: var(--green);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    text-align: center;
  
}