/* primary button styling   */
.primary-btn {
    border: 1px solid var(--dark);
    padding: 1em;
    text-align: center;
}

.btn-primary {
    border: 1px solid var(--dark);
    margin: 1em;
    padding: 0.5em 1em 0.5em 1em;
}

.rounded-corner {
    border-radius: 5px;
    background-color: var(--green);
    color: var(--white)
}

.rounded-corner:hover,
.rounded-corner:focus {
    background-color: var(--orange);
    color: var(--dark)
}

.shadow-btn {
    border-radius: 10px;
    background-color: var(--pink);
    color:var(--white);

}

.shadow-btn:hover,
.shadow-btn:focus {
    box-shadow: 10px 5px 10px 5px var(--green);
}

.left-right-rounded {
    border-radius: 30px;
}

.one-side-round {
    border-radius: 0 20px 20px 0;
    color: var(--blue);
}

.one-side-round:focus,
.one-side-round:hover {
    border-radius: 20px 0 0 20px;
    background-color: var(--dark);

}

.btn-secondary {
    border: 1px solid var(--dark);
    margin: 1em;
    padding: 0.5em 1em 0.5em 1em;
}

.simple-btn-sec {
    border-radius: 30px;
}

/* ----floating button styling------- */
.floating-div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 0.25px solid var(--dark);
}

.icon-btn>img {
    height: 25px;
    width: 25px;
}

.icon-btn {
    border: none;
    background: none;
    margin: 1rem;
}

.floating-btn {
    margin: 1em;
    color: var(--white);
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: var(--red);
}

.floating-btn:hover {
    background-color: green;
}

