<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>FinoMantra UI</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href='component.css'>
</head>

<body>
    <div class="navbar">
        <div>
             <a href="/index.html">FinoMantra UI</a>
            </div>
        <div class="subnav">
            <button class="subnavbtn">Components<i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="components.html"> Install me</a>
                <a href="alert.html"> Alert</a>
                <a href="avatar.html"> Avatar</a>
                <a href="badge.html"> Badge</a>
                <a href="button.html"> Button</a>
                <a href="cards.html"> Cards</a>
                <a href="images.html"> Images</a>
                <a href="input.html"> Input</a>
                <a href="lists.html"> Lists</a>
                <a href="modal.html"> Modal</a>
                <a href="navigation.html"> Navigation</a>
                <a href="rating.html">Ratings</a>
                <a href="simplified-grid.html"> Grid</a>
                <a href="slider.html"> Slider</a>
                <a href="text-utilities.html"> Typography</a>
                <a href="toast.html"> Toast</a>
            </div>
        </div>

    </div>
    <div class="row-grid">
        <div class="flex-col left-nav">
           
            <ul class="componentList">
                <li class="list-item "> <a href="components.html"> Install me</a></li>
                <li class="list-item"> <a href="alert.html"> Alert</a></li>
                <li class="list-item active"> <a href="avatar.html"> Avatar</a></li>
                <li class="list-item"> <a href="badge.html"> Badge</a></li>
                <li class="list-item"> <a href="button.html"> Button</a></li>
                <li class="list-item"> <a href="cards.html"> Cards</a></li>
                <li class="list-item"> <a href="images.html"> Images</a></li>
                <li class="list-item"> <a href="input.html"> Input</a></li>
                <li class="list-item"> <a href="lists.html"> Lists</a></li>
                <li class="list-item"> <a href="modal.html"> Modal</a></li>
                <li class="list-item"> <a href="navigation.html"> Navigation</a></li>
                <li class="list-item"> <a href="rating.html">Ratings</a></li>
                <li class="list-item"> <a href="simplified-grid.html"> Grid</a></li>
                <li class="list-item"> <a href="slider.html"> Slider</a></li>
                <li class="list-item"> <a href="text-utilities.html"> Text-Utilities</a></li>
                <li class="list-item"> <a href="toast.html"> Toast</a></li>
            </ul>
        </div>
        <div class="flex-col">
            <div class="home-container">
                <div>
                    <h2 class="h2-av"> Avatar</h2>
                    <p class="p-pv"> <span>Avatar </span> are used to represents user presence. <span>Avatar </span> can
                        be used for multiple purposes. </p>
                    <span> Sample Avatar </span>
                </div>
                <div class="Avatar">
                    <div class="avatar-all-without-badge">
                        <img class="micro" src="/Assets/boy.png" alt="micro-Avatar">
                        <img class="micro" src="/Assets/girl.png" alt="micro-Avatar">
                        <img class="mini" src="/Assets/boy.png" alt="micro-Avatar">
                        <img class="mini" src="/Assets/girl.png" alt="micro-Avatar">
                        <img class="small" src="/Assets/boy.png" alt="micro-Avatar">
                        <img class="small" src="/Assets/girl.png" alt="micro-Avatar">

                    </div>
                  
                </div>
                <iframe src="https://carbon.now.sh/embed/WmxTp7MzW94vMnyHmlhX"
                    style="width: 100%; height: 348px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
            <footer class="footer" id="footer-menu-click">
                <div class="footer-menu">
                    <ul>
                        <a class="link" href="https://github.com/Sachanh">
                            <i class="fab fa-github"></i>
                        </a>
                        <a class="link" href="https://www.instagram.com/himanshumaheshrajsachan/">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="link" href="https://www.linkedin.com/in/himanshu-mahesh-raj-sachan-010776109/">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </ul>
                </div>
                <div class="other">
                    <p class="para"> Made with ❤️ by <a class="link" href="https://devjoker.netlify.app/"> Himanshu Sachan</a></p>
                </div>
            </footer>
        </div>
        
    </div>
    

</body>

</html>
