<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>FinoMantra UI</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href='component.css'>
</head>

<body>
    <div class="navbar">
        <div>
             <a href="/index.html">FinoMantra UI</a>
            </div>
        <div class="subnav">
            <button class="subnavbtn">Components<i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="components.html"> Install me</a>
                <a href="alert.html"> Alert</a>
                <a href="avatar.html"> Avatar</a>
                <a href="badge.html"> Badge</a>
                <a href="button.html"> Button</a>
                <a href="cards.html"> Cards</a>
                <a href="images.html"> Images</a>
                <a href="input.html"> Input</a>
                <a href="lists.html"> Lists</a>
                <a href="modal.html"> Modal</a>
                <a href="navigation.html"> Navigation</a>
                <a href="rating.html">Ratings</a>
                <a href="simplified-grid.html"> Grid</a>
                <a href="slider.html"> Slider</a>
                <a href="text-utilities.html"> Typography</a>
                <a href="toast.html"> Toast</a>
            </div>
        </div>

    </div>
    <div class="row-grid">
        <div class="grid-col left-nav">
            <!-- <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars fa-2x"></i>
            </label> -->
            <ul class="componentList">
                <li class="list-item"> <a href="components.html"> Install me</a></li>
                <li class="list-item"> <a href="alert.html"> Alert</a></li>
                <li class="list-item"> <a href="avatar.html"> Avatar</a></li>
                <li class="list-item active"> <a href="badge.html"> Badge</a></li>
                <li class="list-item"> <a href="button.html"> Button</a></li>
                <li class="list-item"> <a href="cards.html"> Cards</a></li>
                <li class="list-item"> <a href="images.html"> Images</a></li>
                <li class="list-item"> <a href="input.html"> Input</a></li>
                <li class="list-item"> <a href="lists.html"> Lists</a></li>
                <li class="list-item"> <a href="modal.html"> Modal</a></li>
                <li class="list-item"> <a href="navigation.html"> Navigation</a></li>
                <li class="list-item"> <a href="rating.html">Ratings</a></li>
                <li class="list-item"> <a href="simplified-grid.html"> Grid</a></li>
                <li class="list-item"> <a href="slider.html"> Slider</a></li>
                <li class="list-item"> <a href="text-utilities.html"> Text-Utilities</a></li>
                <li class="list-item"> <a href="toast.html"> Toast</a></li>
            </ul>
        </div>
        <div class="grid-col">
            <div class="home-container">
                <div class="info-badge">
                    <h2> Badges</h2>
                    <p> Badges are used to showcase offer on the products also used with icons. Try it now.
                    </p>
                </div>
                <div class="badge">
                    <h2>Normal Badge </h2>
                    <p> Nomal Badges to show Discount, New Arrival, Availaible quantity, Coming soon, Success.</p>
                    <div class="Normal-badge">
                        <div class="default-bg">Default</div>
                        <div class="discount-bg">50% Discount</div>
                        <div class="num-bg">50</div>
                        <div class="new-bg">New Arrival</div>
                        <div class="coming-bg">Coming soon</div>
                        <div class="success-bg">Success</div>
                    </div>
                    </br>
                    <h2 >Badges on Icons</h2>
                    <p> Badges on icons can be used for multiple purposes like to show items in cart, and unread mails,
                        notifications etc. </p>
                    <div class="badge-Icon">
                        <div class="bell-bg">
                            <img src="/Assets/bell.png" alt="bell icon">
                            <span class="bell-alert"> 9</span>
                        </div>
                        <div class="email-bg">
                            <img src="/Assets/email.png" alt="email icon">
                            <span class="email-alert"> </span>
                        </div>
                        <div class="cart-bg">
                            <img src="/Assets/shopping-cart.png" alt="Shopping Cart">
                            <span class="cart-alert"> 3</span>
                        </div>
                        <div class="phone-bg">
                            <img src="/Assets/phone-receiver-silhouette.png" alt="phone-receiver-silhouette">
                            <span class="phone-alert"> </span>
                        </div>
                    </div>
                    </br>
                    <p> Here is the code snippet to import!</p> </br>
                    <iframe src="https://carbon.now.sh/embed/JsYpSj86Sfoe7OqMC2Wh"
                        style="width: 100%; height: 576px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>
            </div>
            <footer class="footer" id="footer-menu-click">
                <div class="footer-menu">
                    <ul>
                        <a class="link" href="https://github.com/Sachanh">
                            <i class="fab fa-github"></i>
                        </a>
                        <a class="link" href="https://www.instagram.com/himanshumaheshrajsachan/">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="link" href="https://www.linkedin.com/in/himanshu-mahesh-raj-sachan-010776109/">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </ul>
                </div>
                <div class="other">
                    <p class="para"> Made with ❤️ by <a class="link" href="https://devjoker.netlify.app/"> Himanshu Sachan</a></p>
                </div>
            </footer>
        </div>
    </div>
    

</body>

</html>