<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>FinoMantra UI</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel='stylesheet' type='text/css' media='screen' href='component.css'>
</head>
<body>
    <div class="navbar">
        <div>
             <a href="/index.html">FinoMantra UI</a>
            </div>
        <div class="subnav">
            <button class="subnavbtn">Components<i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="components.html"> Install me</a>
                <a href="alert.html"> Alert</a>
                <a href="avatar.html"> Avatar</a>
                <a href="badge.html"> Badge</a>
                <a href="button.html"> Button</a>
                <a href="cards.html"> Cards</a>
                <a href="images.html"> Images</a>
                <a href="input.html"> Input</a>
                <a href="lists.html"> Lists</a>
                <a href="modal.html"> Modal</a>
                <a href="navigation.html"> Navigation</a>
                <a href="rating.html">Ratings</a>
                <a href="simplified-grid.html"> Grid</a>
                <a href="slider.html"> Slider</a>
                <a href="text-utilities.html"> Typography</a>
                <a href="toast.html"> Toast</a>
            </div>
        </div>

    </div>
    <div class="row-grid">
        <div class="flex-col left-nav">
           
            <ul class="componentList">
                <li class="list-item "> <a href="/index.html"> Home</a></li>
                <li class="list-item" > <a href="alert.html"> Alert</a></li>
                <li class="list-item" > <a href="avatar.html"> Avatar</a></li>
                <li class="list-item"> <a href="badge.html"> Badge</a></li>
                <li class="list-item"> <a href="button.html"> Button</a></li>
                <li class="list-item active"> <a href="cards.html"> Cards</a></li>
                <li class="list-item"> <a href="images.html"> Images</a></li>
                <li class="list-item"> <a href="input.html"> Input</a></li>
                <li class="list-item"> <a href="lists.html"> Lists</a></li>
                <li class="list-item"> <a href="modal.html"> Modal</a></li>
                <li class="list-item"> <a href="navigation.html"> Navigation</a></li>
                <li class="list-item"> <a href="rating.html">Ratings</a></li>
                <li class="list-item"> <a href="simplified-grid.html"> Grid</a></li>
                <li class="list-item"> <a href="slider.html"> Slider</a></li>
                <li class="list-item"> <a href="text-utilities.html"> Text-Utilities</a></li>
                <li class="list-item"> <a href="toast.html"> Toast</a></li>
            </ul>
        </div>
      <div class="flex-col">
          <div class="home-container">
            <main>
                <div class='row'>
                  <div class="first card"> 
                    <h1> my heading </h1>
                    <div class="m">
                    <button class="btn">X</button>
                      <img src="https://via.placeholder.com/150"> 
                    </div>
                    
                    <p>Thousands of our employees are engaged in the fight against COVID-19. In honor of #WomensHistoryMonth, here are 5 women leading that fight: https://lnkd.in/deahXHD #ChooseToChallenge </p></div>
                     <div class="second card" >
            
                       <img src="https://via.placeholder.com/150">
                         
                      
                       <h1> my heading </h1>
                       <p>Thousands of our employees are engaged in the fight against COVID-19. In honor of #WomensHistoryMonth, here are 5 women leading that fight: https://lnkd.in/deahXHD #ChooseToChallenge</p></div>
                  
                     <div class="third card">
                        <h1> my heading </h1>
                       <img src="https://via.placeholder.com/150">
                       <p>Thousands of our employees are engaged in the fight against COVID-19. In honor of #WomensHistoryMonth, here are 5 women leading that fight: https://lnkd.in/deahXHD #ChooseToChallenge.
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                  <p>
                    
                  </div>
                  
                </div>
                <div class="card1"> 
                  <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum </p>
                  <button> Primary div </button>
                </div>
              </main> 
       </div>
       <footer class="footer" id="footer-menu-click">
        <div class="footer-menu">
            <ul>
                <a class="link" href="https://github.com/Sachanh">
                    <i class="fab fa-github"></i>
                </a>
                <a class="link" href="https://www.instagram.com/himanshumaheshrajsachan/">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="link" href="https://www.linkedin.com/in/himanshu-mahesh-raj-sachan-010776109/">
                    <i class="fab fa-linkedin"></i>
                </a>
            </ul>
        </div>
        <div class="other">
            <p class="para"> Made with ❤️ by <a class="link" href="https://devjoker.netlify.app/"> Himanshu Sachan</a></p>
        </div>
    </footer>
      </div>
    </div>
    
    
</body>
</html>
