<!DOCTYPE html>
<html>

<head>
   <meta charset='utf-8'>
   <meta http-equiv='X-UA-Compatible' content='IE=edge'>
   <title>FinoMantra UI</title>
   <meta name='viewport' content='width=device-width, initial-scale=1'>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   <link rel="stylesheet" href="/Prism/prism.css">
   <link rel='stylesheet' type='text/css' media='screen' href='component.css'>

</head>

<body>
   <div id="__content">
      <div class="main">
         <div class="finopromo">
            <p class="fino__promo">
               Build Faster with FinoMantra UI Component 💎
            </p>
            <a class="fino__Button" href="/index.html"> Learn More </a>
         </div>
      </div>
      <header class="header">
         <div class="header__content">
            <div class="logo">
               <i class="fab fa-react"></i>
            </div>
            <div class="dark-nav-icon">
               <button> <i class="fas fa-moon"></i> </button>
               <button><i class="fas fa-bars"></i></button>
            </div>
         </div>

      </header>
   
    <!-- Main content start from here -->
      <main class="main-content">
         <div class="install__guide">
            <h1>
               Getting Started
            </h1>
            </br>
            </br>
            <h2> Insallation</h2>
            </br>
            <p> Inside your React index.html file, install Finomantra UI by putting below CSS links: </p>
            </br>
            <pre>
         <code class="language-html">
        <xmp >   
          <link rel='stylesheet'type='text/css' media='screen'href='https://finomantraui.netlify.app/component/component.css'>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> 
        </xmp>
        </code>
     </pre>
            <div class="other">
               <p> <span> FinoMantra UI </span>is easy to use. Just follow the instruction above and start designing
                  your website UI.</p>
            </div>
         </div>
         
         <!-- Alert styling start from here  -->

         <div class="install__guide">
            <div class="Alert__content">
               <h1 class="heading"> Alerts</h1>
               <p class=" description"> Alerts displays an alert box with a specified message and an ok or cancel
                  button. An alert box is often used if you want to make sure information comes through the user. </p>
            </div>
            <div class="success--alert">
               <p> Hey! Congrats you started your journey to financial freedom with us. Here is your Gift!
               </p>
               <i class="far fa-window-close"></i>
            </div>
            <div class="other">
               <p> <span> Success Alert</span> </p>
            </div>
            </br>
            <div class="info--alert">
               <p> Hi! Happy to see you here! Click on OK to get your Free Stock Recommendation!
               </p>
               <i class="far fa-window-close info"></i>
            </div>
            <div class="other">
               <p> <span> Information Alert</span> </p>
            </div>
            </br>
            <div class="failure--alert">
               <p> Hi! Happy to see you here! Click on OK to get your Free Stock Recommendation!
               </p>
               <i class="far failure fa-window-close info"></i>
            </div>
            <div class="other">
               <p> <span> Failure Alert</span> </p>
            </div>
            <div class="other">
               <p> Copy Paste below code according to your reqirement to use in your Web-App! </p>
            </div>
            </br>
            <pre>
         <code class="language-html">
        <xmp >   
         <div class="success--alert">
         <i class="far fa-window-close info"></i>    
         </div>
         <div class="info--alert"> 
         <i class="far info fa-window-close info"></i>    
         </div>
         <div class="failure--alert">
         <i class="far failure fa-window-close info"></i>   
         </div>
         </xmp>
        </code>
     </pre>
         </div>
         
         <!-- Alert styling ends from here  -->

         </br>

        <!-- Avatar styling start from here  -->

         <div class="install__guide">
            <div class="avatar__content">
               <h1 class="heading"> Avatar</h1>
               <p class=" description"> Avatar are used to represent user presence. Avatar can be used for multiple
                  other purposes. </p>
            </div>
            <div class="Avatar">
               <div class="avatar-all-without-badge">

                  <img class="micro" src="https://image.flaticon.com/icons/png/128/3135/3135715.png" alt="micro-Avatar">

                  <img class="mini" src="https://image.flaticon.com/icons/png/128/3135/3135715.png" alt="micro-Avatar">

                  <img class="small" src="https://image.flaticon.com/icons/png/128/3135/3135715.png" alt="micro-Avatar">

               </div>
               <div class="other">
                  <p> Avatar without baadges</p>
               </div>
            </div>
            </br>
            <pre>
         <code class="language-html">
        <xmp >   
         <img class="micro" src=" " alt="micro-Avatar">
            
         <img class="mini" src=" " alt="mini-Avatar">
         
         <img class="small" src=" " alt="small-Avatar">
         </xmp>
        </code>
     </pre>
         </div>

      <!-- Avatar styling ends from here    -->
         </br>

        <!-- Badges styling start from here  -->

         <div class="install__guide">
            <div class="baadge__content">
               <h1 class="heading"> Badges </h1>
               <p class=" description"> Badges are used to showcase offer on the products also used with icons. Try it
                  now. </p>
            </div>
            <div class="badge">
               <h2>Normal Badge </h2>
               <p> Nomal Badges to show Discount, New Arrival, Availaible quantity, Coming soon, Success.</p>
               <div class="Normal-badge">
                  <div class="default-bg">Default</div>
                  <div class="discount-bg">50% Discount</div>
                  <div class="num-bg">50</div>
                  <div class="new-bg">New Arrival</div>
                  <div class="coming-bg">Coming soon</div>
                  <div class="success-bg">Success</div>
               </div>
               </br>
               <h2>Badges on Icons</h2>
               <p> Badges on icons can be used for multiple purposes like to show items in cart, and unread mails,
                  notifications etc. </p>
               <div class="badge-Icon">
                  <div class="bell-bg">
                     <img src="https://image.flaticon.com/icons/png/128/633/633816.png" alt="bell icon">
                     <span class="bell-alert"> 9</span>
                  </div>
                  <div class="email-bg">
                     <img src="https://image.flaticon.com/icons/png/128/732/732200.png" alt="email icon">
                     <span class="email-alert"> </span>
                  </div>
                  <div class="cart-bg">
                     <img
                        src="https://image.flaticon.com/icons/png/128/891/891462.png"
                        alt="Shopping Cart">
                     <span class="cart-alert"> 3</span>
                  </div>
                  <div class="phone-bg">
                     <img src="https://image.flaticon.com/icons/png/128/483/483947.png" alt="phone-receiver-silhouette">
                     <span class="phone-alert"> </span>
                  </div>
               </div>
               <div class="other">
                  <p> Normal Badges & Badges with ICON. Above icons are taken from <a href="https://www.flaticon.com/">
                        flaticon.com .</a></p>

               </div>
            </div>
            </br>
            <pre>
         <code class="language-html">
        <xmp> 
         <div class="default-bg">Default</div>
         <div class="discount-bg">50% Discount</div>
         <div class="num-bg">50</div>
         <div class="new-bg">New Arrival</div>
         <div class="coming-bg">Coming soon</div>
         <div class="success-bg">Success</div>   
      
        <div class="bell-bg"> 
         <span class="bell-alert">9 </span>  
        </div>
        <div class="email-bg"> 
         <span class="email-alert"> </span>  
        </div>
        <div class="cart-bg"> 
         <span class="cart-alert">9 </span>  
        </div>
        <div class="phone-bg"> 
         <span class="phone-alert"></span>  
        </div>
         </xmp>
        </code>
     </pre>
         </div>

         <!-- badges styling ends from here -->

         </br>
        
         <!-- button styling start from here  -->

         <div class="install__guide">
            <div class="button__content">
               <h1 class="heading"> Button </h1>
               <p class=" description"> Buttons are one of the most common UI elements. They make it possible for users
                  to interact with a system and take action by making selections. Buttons are used when you want a user
                  to act (submit, cancel, delete) and links are used to direct users to other pages (about me, read
                  more).


                  A typical site or app form (or dialog box) usually offers more than one option. In most cases users
                  see two options — one stands for a primary to the user's task and other, which is expected to be less
                  utilized, stands for a secondary task </p>
            </div>
            <div class="primary-btn">
               <button class="btn-primary normal-btn"> Click Here!</button>
               <button class="btn-primary rounded-corner"> Add to cart</button>
               <button class="btn-primary shadow-btn"> Buy Now</button>
               <button class="btn-primary left-right-rounded"> Accept!</button>
               <button class="btn-primary one-side-round"> Free Deal!</button>
               <button class="btn-secondary simple-btn-sec">Know more</button>
               <button class="btn-secondary">Cancel</button>
               <button class="btn-secondary">Add to wishlist</button>
            </div>
            </br>
            <h2 class="h2-btn">Floating Button & Icon Button</h2>
            </br>
            <div class="floating-div">
               <button class="icon-btn"> <img src="https://image.flaticon.com/icons/png/128/732/732200.png"
                     alt="email"></button>
               <button class="icon-btn"><img src="https://image.flaticon.com/icons/png/128/483/483947.png"
                     alt="phone-receiver-silhouette" alt="phone-receiver-silhouette"></button>
               <button class="icon-btn"><img
                     src="https://image.flaticon.com/icons/png/128/891/891462.png"
                     alt="shopping-cart"></button>
               <button class="floating-btn"> &#11145</button>
               <button class="floating-btn"> &#11119</button>
               <button class="floating-btn"> &#8631</button>
            </div>
            <div class="other">
               <p> Primary Button, Secondaary Button & Floting Button. Use Position:Fixed to fix the floatig action
                  button. Above icons are taken from <a href="https://www.flaticon.com/"> flaticon.com .</a></p>

            </div>
         </br>
         <pre>
         <code class="language-html">
        <xmp> 
         <button class="btn-primary normal-btn"> Click Here!</button>
         <button class="btn-primary rounded-corner"> Add to cart</button>
         <button class="btn-primary shadow-btn"> Buy Now</button>
         <button class="btn-primary left-right-rounded"> Accept!</button>
         <button class="btn-primary one-side-round"> Free Deal!</button>
         <button class="btn-secondary simple-btn-sec">Know more</button>
         <button class="btn-secondary">Cancel</button>
         <button class="btn-secondary">Add to wishlist</button>

         <button class="icon-btn"> <img src=" " alt=" "></button>
         <button class="icon-btn"><img src=" " alt=" "></button>
         <button class="icon-btn"><img src=" " alt= " "></button>
         <button class="floating-btn"> &#11145</button>
         <button class="floating-btn"> &#11119</button>
         <button class="floating-btn"> &#8631</button>
         </xmp>
        </code>
     </pre>
   </div>

   <!-- button styling ends from here  -->

   </br>

   <!-- images styling start from here  -->

   <div class="install__guide">
      <div class="image__content">
         <h1 class="heading"> Images </h1>
         <p class=" description"> Images are used to represent the products, profile etc. Here is the some sample of
            image style </p>
      </div>
      <div class="img-container">
         <img class="normal-img"
            src="https://via.placeholder.com/200"
            alt="image-white-flower-pot">

         <img class="circle-img"
            src="https://via.placeholder.com/150"
            alt="image-white-flower-pot">
      </div>

      <div class="other">
         <p> Normal Image. and rounded image. Sample images are used from <a href="https://via.placeholder.com"> Via.placeholder .</a> </p>

      </div>
      </br>
      <pre>
      <code class="language-html">
     <xmp> 
      <div class="img-container">
         <img class="normal-img" src=" " alt=" ">
         <img class="circle-img" src=" " alt=" ">
      </div>
      </xmp>
     </code>
  </pre>
   </div>

    <!-- images styling ends from here  -->
</br>
 
    <!-- Card styling starts from here  -->
    <div class="install__guide">
      <div class="card__content">
         <h1 class="heading"> Cards </h1>
         <p class=" description"> Cards are used to display products, baneers, services on a website.  </p>
      </div>
        
         <div class="other">
            <p> Normal Badges & Badges with ICON. Above icons are taken from <a href="https://www.flaticon.com/"> flaticon.com .</a></p>

         </div>
     
    </br>
      <pre>
   <code class="language-html">
  <xmp> 
   
   </xmp>
  </code>
</pre>
   </div>
   <!-- Card styling ends from here  -->

   </main>
   </div>
   <script src="/Prism/prism.js"></script>
</body>

</html>
